# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build outputs
build/
dist/
target/
out/

# Dependencies
node_modules/

# Environment files
.env
.env.local

# AI Files

.claude
CLAUDE.md