DATABASE_URL=mongodb://localhost:27017
MONGODB_DB_NAME=dpp_generic_python
PLATFORM_NAME='Generic DPP Platform'
BASE_URL=http://localhost:8082
PLATFORM_ID=gendpp-py
RESOLVER_URL=http://localhost:8080
LOG_LEVEL=INFO