<section class="detail-container">
  <header class="detail-header">
    <div>
      <p class="eyebrow">Platform</p>
      <div class="title-row">
        <h1>{{ platformId() }}</h1>
        @if (platform()) {
          <mat-chip [ngClass]="platform()?.status?.toLowerCase()">
            {{ platform()?.status }}
          </mat-chip>
        }
      </div>
      @if (platform()) {
        <p class="subtitle">
          <mat-icon>badge</mat-icon>
          {{ platform()?.issuer_id }}
          <span></span>
          <mat-icon>deployed_code</mat-icon>
          {{ platform()?.stack }}
        </p>
      }
    </div>
  </header>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="tabs">
    <a
      mat-tab-link
      routerLink="dpps"
      routerLinkActive
      #dppsActive="routerLinkActive"
      [active]="dppsActive.isActive"
    >
      DPPs
    </a>
    <a
      mat-tab-link
      routerLink="logs"
      routerLinkActive
      #logsActive="routerLinkActive"
      [active]="logsActive.isActive"
    >
      Logs
    </a>
    <a
      mat-tab-link
      routerLink="status"
      routerLinkActive
      #statusActive="routerLinkActive"
      [active]="statusActive.isActive"
    >
      Status
    </a>
  </nav>

  <mat-tab-nav-panel #tabPanel class="tab-content">
    <router-outlet />
  </mat-tab-nav-panel>
</section>
